.hide-this {
    opacity: 0;
    transition: all 1s;
    filter:blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.box:nth-child(2) {
    transition-delay: 200ms;
}
.box:nth-child(3) {
    transition-delay: 400ms;
}
.box:nth-child(4) {
    transition-delay: 600ms;
}
.box:nth-child(5) {
    transition-delay: 800ms;
}

.container:nth-child(2) {
    transition-delay: 200ms;
}
.container:nth-child(3) {
    transition-delay: 400ms;
}
.container:nth-child(4) {
    transition-delay: 600ms;
}

.q-box:nth-child(2) {
    transition-delay: 200ms;
}
.q-box:nth-child(3) {
    transition-delay: 400ms;
}


::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar:vertical {
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #1f1e1e;
    /* border-radius: 12px; */
  }
  

  
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: linear-gradient(108.42deg, #7dd4f7 16.76%, #6966d5 62.49%);
    /* border: 6px solid rgba(0, 0, 0, 0.2);  */
  }
  
  ::-webkit-scrollbar-thumb:active{
    background: linear-gradient(108.42deg, #6d7edb 16.76%, #84eff9 62.49%);
  }